In [142]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()


cars = pd.read_csv("C:\E\CLARK\BIG DATA\Final\car_data.csv")

In [143]:
cars.info

<bound method DataFrame.info of         Unnamed: 0                                              Model  Year  \
0                0                              2022 Acura TLX A-Spec  2022
1                1                              2023 Acura RDX A-Spec  2023
2                2                              2023 Acura TLX Type S  2023
3                3                              2023 Acura TLX Type S  2023
4                4  2019 Acura MDX Sport Hybrid 3.0L w/Technology ...  2019
...            ...                                                ...   ...
115757       10005         2023 Volkswagen Atlas 3.6L SE w/Technology  2023
115758       10006                       2023 Volkswagen Taos 1.5T SE  2023
115759       10007                            2012 Volkswagen Beetle   2012
115760       10008                         2022 Volkswagen ID.4 Pro S  2022
115761       10009                      2013 Volkswagen Passat 2.5 SE  2013

       Status        Mileage    Price             MSRP
0         New  Not available  $49,445     MSRP $49,445
1         New  Not available  $50,895    Not specified
2         New  Not available  $57,745    Not specified
3         New  Not available  $57,545    Not specified
4        Used     32,675 mi.  $40,990  $600 price drop
...       ...            ...      ...              ...
115757    New  Not available  $47,346    Not specified
115758    New  Not available  $30,895    Not specified
115759   Used    100,395 mi.   $9,994  $252 price drop
115760    New  Not available  $52,585    Not specified
115761   Used    125,757 mi.  $10,995    Not specified

[115762 rows x 7 columns]>

In [144]:
cars.shape

(115762, 7)

In [145]:
cars.isnull().sum()

Unnamed: 0    0
Model         0
Year          0
Status        0
Mileage       0
Price         0
MSRP          0
dtype: int64

In [146]:
cars.dtypes

Unnamed: 0     int64
Model         object
Year           int64
Status        object
Mileage       object
Price         object
MSRP          object
dtype: object

# Data clean

In [147]:
cars = cars.drop('Unnamed: 0',axis=1)
cars.head()

,Model,Year,Status,Mileage,Price,MSRP
0,2022 Acura TLX A-Spec,2022,New,Not available,"$49,445","MSRP $49,445"
1,2023 Acura RDX A-Spec,2023,New,Not available,"$50,895",Not specified
2,2023 Acura TLX Type S,2023,New,Not available,"$57,745",Not specified
3,2023 Acura TLX Type S,2023,New,Not available,"$57,545",Not specified
4,2019 Acura MDX Sport Hybrid 3.0L w/Technology ...,2019,Used,"32,675 mi.","$40,990",$600 price drop

In [148]:
cars["Mileage"].value_counts()
#It means there are 47868 new cars in the dataset.

Not available    47868
310 mi.            101
23,000 mi.          19
1,000 mi.           18
35,000 mi.          17
                 ...
25,796 mi.           1
51,830 mi.           1
34,991 mi.           1
62,460 mi.           1
125,757 mi.          1
Name: Mileage, Length: 49282, dtype: int64

In [149]:
cars['Price'].value_counts()

Not Priced    652
$29,995       241
$34,995       226
$72,010       200
$39,995       192
             ...
$82,824         1
$25,930         1
$62,949         1
$73,845         1
$47,346         1
Name: Price, Length: 37652, dtype: int64

In [150]:
len(cars.loc[cars['Price'] == 'Not Priced'])
len(cars.loc[cars['Price'] == 'Not Priced'])/len(cars)*100
#It means there are 652 cars withnot priced.

0.5632245469152226

In [151]:
cars.drop(cars[cars['Price']== 'Not Priced'].index, inplace=True)
#Verifying if the deletion has been successful
len(cars.loc[cars['Price'] == 'Not Priced'])

0

In [152]:
def get_price (price):
    no_currency = price.replace('$', '')
    return no_currency.replace(',', '')
cars['Price'] = cars['Price'].apply(lambda x: get_price(x)).str.rstrip()
cars['Price'] = pd.to_numeric(cars['Price'])
cars['Price'].head()

0    49445
1    50895
2    57745
3    57545
4    40990
Name: Price, dtype: int64

In [153]:
def change_status(status):
  if("Certified" in status):
    return "Certified"
  return status
cars["Status"] = cars["Status"].apply(change_status)
cars.head()

,Model,Year,Status,Mileage,Price,MSRP
0,2022 Acura TLX A-Spec,2022,New,Not available,49445,"MSRP $49,445"
1,2023 Acura RDX A-Spec,2023,New,Not available,50895,Not specified
2,2023 Acura TLX Type S,2023,New,Not available,57745,Not specified
3,2023 Acura TLX Type S,2023,New,Not available,57545,Not specified
4,2019 Acura MDX Sport Hybrid 3.0L w/Technology ...,2019,Used,"32,675 mi.",40990,$600 price drop

In [154]:
def car_brand (model):
    return model.split(' ')[1]
cars['Brand'] = cars['Model'].apply(lambda x: car_brand(x))
cars.head()

,Model,Year,Status,Mileage,Price,MSRP,Brand
0,2022 Acura TLX A-Spec,2022,New,Not available,49445,"MSRP $49,445",Acura
1,2023 Acura RDX A-Spec,2023,New,Not available,50895,Not specified,Acura
2,2023 Acura TLX Type S,2023,New,Not available,57745,Not specified,Acura
3,2023 Acura TLX Type S,2023,New,Not available,57545,Not specified,Acura
4,2019 Acura MDX Sport Hybrid 3.0L w/Technology ...,2019,Used,"32,675 mi.",40990,$600 price drop,Acura

In [165]:
def extract_model(model):
  m = model.split(" ")
  return " ".join(m[2:4])
cars["Model"] = cars["Model"].apply(extract_model)
cars["Model"].head(10)

0
1
2
3
4
5
6
7
8
9
Name: Model, dtype: object

In [156]:
cars["Mileage"].replace("Not available","0 mi.",inplace=True)
cars["Mileage"].head()

0         0 mi.
1         0 mi.
2         0 mi.
3         0 mi.
4    32,675 mi.
Name: Mileage, dtype: object

In [157]:

def mileage_trans(mileage):
    
    return mileage.split(' ')[0].replace(",","")
cars['Mileage'] = cars['Mileage'].apply(lambda x: mileage_trans(x))
cars['Mileage'] = pd.to_numeric(cars['Mileage'])
cars['Mileage'].head()

0        0
1        0
2        0
3        0
4    32675
Name: Mileage, dtype: int64

In [158]:
cars["Status"].value_counts()

Used         61627
New          47434
Certified     6049
Name: Status, dtype: int64

In [159]:
pd.options.display.float_format = '{:.2f}'.format
cars["Price"].describe()

count    115110.00
mean      51517.99
std       37931.87
min        1800.00
25%       29980.00
50%       43275.00
75%       61280.00
max     2499900.00
Name: Price, dtype: float64

In [160]:
cars["Mileage"].describe()

count   115110.00
mean     28279.32
std      38055.55
min          0.00
25%          0.00
50%      11484.00
75%      45778.25
max     974302.00
Name: Mileage, dtype: float64

In [161]:
cars["Year"].value_counts()

2023    34744
2022    20520
2020    10104
2021     9774
2019     9748
        ...
1958        2
1962        2
1953        1
1949        1
1966        1
Name: Year, Length: 70, dtype: int64

        Model  Year Status  Mileage  Price             MSRP  Brand
0  TLX A-Spec  2022    New        0  49445     MSRP $49,445  Acura
1  RDX A-Spec  2023    New        0  50895    Not specified  Acura
2    TLX Type  2023    New        0  57745    Not specified  Acura
3    TLX Type  2023    New        0  57545    Not specified  Acura
4   MDX Sport  2019   Used    32675  40990  $600 price drop  Acura
5  TLX A-Spec  2023    New        0  50195     MSRP $50,195  Acura
6  TLX A-Spec  2023    New        0  50195     MSRP $50,195  Acura
7    TLX Type  2023    New        0  57745    Not specified  Acura
8  TLX A-Spec  2023    New        0  47995    Not specified  Acura
9  TLX A-Spec  2022    New        0  49545    Not specified  Acura