In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()


cars = pd.read_csv("C:\E\CLARK\BIG DATA\Final\car_data.csv")

In [4]:
cars.info

<bound method DataFrame.info of         Unnamed: 0                                              Model  Year  \
0                0                              2022 Acura TLX A-Spec  2022
1                1                              2023 Acura RDX A-Spec  2023
2                2                              2023 Acura TLX Type S  2023
3                3                              2023 Acura TLX Type S  2023
4                4  2019 Acura MDX Sport Hybrid 3.0L w/Technology ...  2019
...            ...                                                ...   ...
115757       10005         2023 Volkswagen Atlas 3.6L SE w/Technology  2023
115758       10006                       2023 Volkswagen Taos 1.5T SE  2023
115759       10007                            2012 Volkswagen Beetle   2012
115760       10008                         2022 Volkswagen ID.4 Pro S  2022
115761       10009                      2013 Volkswagen Passat 2.5 SE  2013

       Status        Mileage    Price             MSRP
0         New  Not available  $49,445     MSRP $49,445
1         New  Not available  $50,895    Not specified
2         New  Not available  $57,745    Not specified
3         New  Not available  $57,545    Not specified
4        Used     32,675 mi.  $40,990  $600 price drop
...       ...            ...      ...              ...
115757    New  Not available  $47,346    Not specified
115758    New  Not available  $30,895    Not specified
115759   Used    100,395 mi.   $9,994  $252 price drop
115760    New  Not available  $52,585    Not specified
115761   Used    125,757 mi.  $10,995    Not specified

[115762 rows x 7 columns]>

In [5]:
cars.shape

(115762, 7)

In [6]:
cars.isnull().sum()

Unnamed: 0    0
Model         0
Year          0
Status        0
Mileage       0
Price         0
MSRP          0
dtype: int64

# Data clean

In [7]:
cars = cars.drop('Unnamed: 0',axis=1)
cars.head()

,Model,Year,Status,Mileage,Price,MSRP
0,2022 Acura TLX A-Spec,2022,New,Not available,"$49,445","MSRP $49,445"
1,2023 Acura RDX A-Spec,2023,New,Not available,"$50,895",Not specified
2,2023 Acura TLX Type S,2023,New,Not available,"$57,745",Not specified
3,2023 Acura TLX Type S,2023,New,Not available,"$57,545",Not specified
4,2019 Acura MDX Sport Hybrid 3.0L w/Technology ...,2019,Used,"32,675 mi.","$40,990",$600 price drop

In [8]:
cars["Mileage"].value_counts()
#It means there are 47868 new cars in the dataset.

Not available    47868
310 mi.            101
23,000 mi.          19
1,000 mi.           18
35,000 mi.          17
                 ...
25,796 mi.           1
51,830 mi.           1
34,991 mi.           1
62,460 mi.           1
125,757 mi.          1
Name: Mileage, Length: 49282, dtype: int64

In [9]:
cars["Mileage"].replace("Not available","0 mi.",inplace=True)
cars["Price"].replace("Not Priced","$0",inplace=True)

In [12]:
def change_status(status):
  if("Certified" in status):
    return "Certified"
  return status
cars["Status"] = cars["Status"].apply(change_status)